body{
    background-image: url("./img/background.jpeg");
    background-size:cover;
    background-repeat: repeat;
    align-items:center;
    margin: auto;
    padding: 1%;
}
header, footer{
    height: 10%;
    width: auto;
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: 10px;
    display:flex;
    justify-content:space-between;
}
.divinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.myimg{
    height: 10vh;
    min-height:60px;
    border-radius: 10px;
}
.divinfo2{
    display: flex;
    flex-direction: column;
}
span{
    font-weight: bold;
    background-color: rgba(220, 220, 220, 0.8);
    margin-bottom: 5px;
}
main{
    display: flex;
    flex-direction: column;
    background-color: rgba(200, 200, 20, 0.9);
    margin: 1% 0 1% 0;
    border-radius: 10px;
}
#submain{
    display:flex;
    flex-direction: row;
    min-height: 58vh;
}
section{
    display:flex;
    flex-direction: column;
    padding: 1vw;
}
h1, h2, h3{
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
    color:#33c;
    background-color: rgba(220, 220, 20, 0.5);
    text-decoration:underline dotted #33c;
    text-shadow: 1px 1px #11a;
    text-align: center;
}
#inputs{
    max-width: 10vw;
    justify-content: start;
}
input, select{
    font-size:medium;
    background-color: rgba(250, 250, 250, 0.6);
    width: auto;
}
button{
    width:min-content;
}
canvas{
    background-color: #555;
    height: 600px;
    width: 85%;
    border-radius: 10px;
    margin-left: 5px;
}